<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>About Log Parser</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='../static/stylesheets/error_style.css'>
    </head>

    <body style="background-color: cadetblue;">
        <div class="con">
            <h2 style="display: inline;">Introduction</h2>
            <a href="/" style="color: white; box-sizing: border-box;">
                <button style="float: right; ">
                    <p style="font-size: 16px; vertical-align: top; margin-top: 0; margin-bottom: 0;">
                        Back to homepage 
                        <img width="20px" style="display: inline-block; vertical-align: middle;" src="../static/assets/previous.png" alt="">
                    </p>
                </button>
            </a>
            <p>This web app is created for the Course CIS524(Comparative Programming Languages). This web app takes a log file which strictly follows the below given format.</p>
            <img class="format_img" style="width: 70%; vertical-align: middle;" src="../static/assets/example.png" alt="">
            <p>The web app will output the total time taken to complete a certain project. This will be calculated by the time given in the log file.</p>
            <p></p>

        </div>
    </body>
</html>